<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Tableau de bord</h1>
<ul>
  <li>Utilisateurs : <%= usersCount %></li>
  <li>Offres : <%= offersCount %></li>
  <li>Enchères : <%= bidsCount %></li>
</ul>
</body>
</html>