<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Utilisateurs</h1>
<ul>
  <% Object.entries(users).forEach(([id, user]) => { %>
    <li>
      <%= user.email || 'Sans email' %>
      <form action="/users/delete/<%= id %>" method="POST" style="display:inline">
        <button type="submit">Supprimer</button>
      </form>
    </li>
  <% }) %>
</ul>

</body>
</html>